<div ng-controller="AccountsCtrl" class="span6">
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Nom du compte</th>
            <th style="min-width: 80px;">Type</th>
            <th style="width:20px;"> </th>
            <th style="width:20px;"> </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="account in accounts">
        	<td ng-hide="editing">{{account.accountName}}</td>
        	<td ng-hide="editing">{{account.type}}</td>
        	<td ng-hide="editing"><a ng-click="editing = true" class="btn btn-small btn-primary">Éditer</a></td>
		    <td ng-hide="editing"><a ng-click="deleteAccount(account.id)" class="btn btn-small btn-danger">Supprimer</a></td> 
			<form>
				<td ng-show="editing">
				    <input type="text" ng-model="account.accountName" placeholder="Nom"/>
			    </td>
			    <td ng-show="editing">
				    <input type="text" ng-model="account.type" placeholder="CR"/>
			    </td>
			    <td ng-show="editing"></td>
			    <td ng-show="editing">
			    	<button class="btn btn-small btn-primary" ng-click="editing = false">Enregistrer</button>
			    </td>
			</form>       	            
        </tr>
        </tbody>
    </table>
    <a ng-click="addAccount()" class="btn btn-small">Ajouter un nouveau compte</a>
</div>