<div ng-controller="BillsCtrl" class="span6">
    <table class="table table-striped table-condensed table-hover">
        <thead>
        <tr>
            <th style="min-width: 80px;">Montant de la facture</th>
            <th style="min-width: 80px;">Devise</th>
            <th style="min-width: 80px;">Date</th>
            <th style="min-width: 80px;">Cat&eacute;gorie</th>
            <th style="min-width: 80px;">Fournisseur</th>
            <th style="min-width: 80px;">Compte</th>
            
            <th style="width:20px;"> </th>
            <th style="width:20px;"> </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="bill in bills">
            <td ng-hide="editing">{{bill.amount.amount | currency}}</td>
            <td ng-hide="editing">{{bill.amount.currency}}</td>
            <td ng-hide="editing">{{bill.billDate | date : 'dd-MM-yyyy'}}</td>
            <td ng-hide="editing">{{bill.categories[0].name}}</td>
            <td ng-hide="editing">{{bill.suppliers[0].supplierName}}</td>
            <td ng-hide="editing">{{bill.accounts[0].accountName}}</td>
        	<td ng-hide="editing">
        		<div>
        			<a ng-click="editing = true; editer(bill);" class="btn btn-small btn-primary btn-block">Éditer</a>
        		</div>
        	</td>
		    <td ng-hide="editing">
		    	<div>
		    		<a ng-click="deleteBills(bill.id)" class="btn btn-small btn-danger btn-block">Supprimer</a>
		    	</div>
		    </td>
			<form>
				<td ng-show="editing">
				    <input type="text" class="form-control" ng-model="bill.amount.amount" placeholder="Montant"/>
			    </td>
			    <td ng-show="editing">
					<select class="form-control" ng-model="selectedCurrency"
						ng-options="currency.value as currency.value for currency in currencies">
					</select>
                </td>
                <td ng-show="editing">
				    <input type="date" class="form-control" ng-model="dateBill"/>
			    </td>
			    <td ng-show="editing">
					<select class="form-control" ng-model="selectedCategorie"
						ng-options="categorie.id as categorie.name for categorie in categories">
					</select>
			    </td>
			    <td ng-show="editing">
					<select class="form-control" ng-model="selectedSupplier"
						ng-options="supplier.id as supplier.supplierName for supplier in suppliers">
					</select>
			    </td>
			    <td ng-show="editing">
					<select class="form-control" ng-model="selectedAccount"
						ng-options="account.id as account.accountName for account in accounts">
					</select>
			    </td>
			    <td ng-show="editing">
			    	<button class="btn btn-small btn-primary btn-block" ng-click="editing = false; createOrUpdate(bill)">Enregistrer</button>
			    </td>
			    <td ng-show="editing">
			    	<button class="btn btn-small btn-danger btn-block" ng-click="editing = false">Annuler</button>
			    </td>
			</form>    	            
        </tr>
        </tbody>
    </table>
    <a ng-click="addEmptyBill()" class="btn btn-small">Ajouter une nouvelle facture</a>
</div>

