<div ng-controller="UserCtrl" class="container well well-sm">
    <h2>Login</h2>
    <div class="alert alert-danger" ng-show="error">
		There was a problem logging in. Please try again.
	</div>
     <form role="form" name="loginForm" novalidate class="form-horizontal">
     	 <div class="control-group">
            <label class="control-label control-label col-sm-4" for="username">Username</label>
            <div class="controls col-sm-8">
                <input name="username" class="form-control" type="text" id="username" ng-model="user.username" required/>
                <span class="help-block" ng-show="loginForm.username.$error.required && loginForm.username.$dirty">Champs Requis</span>
            </div>
            <label class="control-label col-sm-4" for="password">Password</label>
            <div class="controls col-sm-8">
                <input class="form-control" name="password" type="password" id="password" ng-model="user.password" required/>
                <span class="help-block" ng-show="loginForm.password.$error.required && loginForm.password.$dirty">Champs Requis</span>
            </div>
        </div>
         <button ng-disabled="loginForm.$invalid" ng-click="login()" class="btn btn-small btn-primary">Login</button>
        </form>
        <p></p>     
</div>